# --- [新增] 忽略整个构建目录 (最重要！防止把你刚才进的 build 文件夹传上去) ---
build/

# --- [新增] 忽略 C++ 编译产生的中间文件 (以防万一) ---
*.o
*.obj

# --- 1. 忽略数据库文件 (私密数据) ---
*.db
data.db

# --- 2. 忽略可执行程序 ---
kv_store
benchmark

# --- 3. 忽略 CMake 在根目录产生的垃圾 ---
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# --- 4. 忽略编辑器/IDE 配置 ---
.vscode/
.idea/
*.swp

# --- 5. 系统垃圾 ---
.DS_Store

# --- 6. 用户自定义 ---
history/